{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>折线图</title>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <style type="text/css">
        ${demo.css}
    </style>
    <script src="{% static 'js/jquery_1.11.1_jquery.js' %}"></script>
    <script type="text/javascript">
        var data = [], data_y = [], data_z
        $(function () {
            $.ajax({
                url: "/ajax_run",
                type: "GET",
                data: {},
                success: function (res) {
                    data = JSON.parse(res['system_time']);
                    data_y = JSON.parse(res['number_wei']);
                    data_z = JSON.parse(res['number_run']);
                    var data_x = [];
                    for (var i = 0; i < data.length; i++) {
                        var time_array = data[i].replace(" ", ":").replace(/\:/g, "-").split("-");
                        for (var j = 0; j < time_array.length; j++) {
                            if (j == 1)
                                data_x[i] = time_array[j] + "-"
                            if (j == 2)
                                data_x[i] = data_x[i] + time_array[j]
                        }

                    }
                    $('#container').highcharts({

                        title: {
                            text: '身体体重-跑步时长',
                            x: -20 //左右边距位置
                        },
                        xAxis: {
                            categories: data_x
                        },
                        yAxis: {
                            title: {
                                text: '单位 (kg/分钟)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                if (this.series.name == '体重') {
                                    return '<b>' + this.series.name + '</b><br/>' + data[data_x.indexOf(this.x)] + '<br/>' +
                                            this.y + 'kg'
                                }
                                else if (this.series.name == '时长') {
                                    return '<b>' + this.series.name + '</b><br/>' + data[data_x.indexOf(this.x)] + '<br/>' +
                                            this.y + '分钟'
                                }

                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: '体重',
                            data: data_y
                        }, {
                            name: '时长',
                            data: data_z
                        }]
                    });
                },
                error: function (err) {
                    alert(err);
                }
            })
        })
        <!--
		function getLocalTime(nS) {
            return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
        }
        -->
    </script>
{#    <script language="javascript" type="text/javascript">#}
{#        if(top.location!=self.location)#}
{#            top.location=self.location;#}
{#    </script>#}
</head>
<body>
<script src="{% static 'js/highcharts.js' %}"></script>
<!--    <script src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>   -->
<div id="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
</body>
</html>