<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html" charset="utf-8">
    <style>
        .app{
            float: left;
            width: 100px;
            height: 200px;
            background-color: blue;
        }

        .abc{
            float: right;
            background-color: pink;
            width: 150px;
            height: 200px;
        }

        .container{
            width: 350px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="app">

    </div>
    <div class="abc">
        <ul>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
        </ul>
    </div>
</div>
</body>
</html>